<%- include("../partials/adminheader.ejs") %>
<form method="post" action="/banneradd"></form>
        <div class="row">
        <br>

<!-- row one of image    on display this will bein horizontal-->
    <div class=" banner   mx-2 my-3 container   col-md-3   ">
    <h3>FIRST SECTION</h3>
        <div><img src="../../image/galaxy-watch6-kv-pc.jpg" style="width:320px;height:150px;" class="img-fluid"></div>
    <br>
        <label for="Banner" class="form-label ">BANNER 1</label>
        <input type="file" class="form-control" id="banner" name="banner" accept="image/*">
    <br>
        <button id="b1">Change the banner</button>
    <br>
<br>
    <div><img src="../../image/tile_ultra_2__cu2x3w2l0zwy_medium_2x.jpg"style="width:320px;height:150px" class="img-fluid "></div>
<br>
    <label for="banner" class="form-label ">BANNER 2</label>
    <input type="file" class="form-control " id="banner" name="banner" accept="image/*">
<br>
    <button id="b2">Change the banner</button>
<br>



<br>
    <div><img src="../../image/galaxy-watch6-kv-pc.jpg" style="width:320px;height:150px" class="img-fluid "></div>
<br>
    <label for="banner" class="form-label ">BANNER 3</label>
<input type="file" class="form-control" id="banner" name="banner" accept="image/*">
    <br>
<button id="b1">Change the banner</button>
<br>






<br>
<div><img src="../../image/tile_ultra_2__cu2x3w2l0zwy_medium_2x.jpg"style="width:320px;height:150px" class="img-fluid "></div>
<br>
<label for="banner" class="form-label ">BANNER 4</label>
<input type="file" class="form-control" id="banner" name="banner" accept="image/*">
<br>
<button id="b2">Change the banner</button>
<br>
</div>




<!-- row one of image ends -->

        <div class=" banner     mx-2 my-3 container  col-md-3  ">
    <h3>SECOND SECTION</h3>
    <div><img src="../../image/galaxy-watch6-kv-pc.jpg" style="width:320px;height:150px" class="img-fluid "></div>
    <br>
    <label for="banner" class="form-label ">BANNER 5</label>
    <input type="file" class="form-control" id="banner" name="banner" accept="image/*">
    <br>    
    <button id="b1">Change the banner</button>
    <br>
    <br>
    <div><img src="../../image/tile_ultra_2__cu2x3w2l0zwy_medium_2x.jpg"style="width:320px;height:150px" class="img-fluid "></div>
    <br>
    <label for="banner" class="form-label ">BANNER 6</label>
    <input type="file" class="form-control" id="banner" name="banner" accept="image/*">
    <br>    
    <button id="b2">Change the banner</button>
    <br>
    <br>






    <div><img src="../../image/galaxy-watch6-kv-pc.jpg" style="width:320px;height:150px" class="img-fluid "></div>
    <br>
    <label for="banner" class="form-label ">BANNER 7</label>
    <input type="file" class="form-control" id="banner" name="banner" accept="image/*">
    <br>
    <button id="b1">Change the banner</button>
    <br>
    <br>
    <div><img src="../../image/tile_ultra_2__cu2x3w2l0zwy_medium_2x.jpg"style="width:320px;height:150px" class="img-fluid "></div>
    <br>
    <label for="banner" class="form-label ">BANNER 8</label>
    <input type="file" class="form-control" id="banner" name="banner" accept="image/*">
    <br>
        <button id="b2">Change the banner</button>
    <br>
    </div>

        <div class=" banner    mx-2 my-3 container  col-md-3 ">
        <h3>THIRD SECTION</h3>
        <div><img src="../../image/galaxy-watch6-kv-pc.jpg" style="width:320px;height:150px" class="img-fluid "></div>
        <br>
        <label for="banner" class="form-label ">BANNER 9</label>
        <input type="file" class="form-control" id="banner" name="banner" accept="image/*">
        <br>
        <button id="b1">Change the banner</button>
        <br>
        <br>
        <div><img src="../../image/tile_ultra_2__cu2x3w2l0zwy_medium_2x.jpg"style="width:320px;height:150px" class="img-fluid "></div>
        <br>
        <label for="banner" class="form-label ">BANNER 10</label>
        <input type="file" class="form-control" id="banner" name="banner" accept="image/*">
        <br>    
        <button id="b2">Change the banner</button>
        <br>
        <br>
        <div><img src="../../image/galaxy-watch6-kv-pc.jpg" style="width:320px;height:150px" class="img-fluid "></div>
        <br>
        <label for="banner" class="form-label ">BANNER 11</label>
        <input type="file" class="form-control" id="banner" name="banner" accept="image/*">
        <br>
        <button id="b1">Change the banner</button>
        <br>
        <br>
        <div><img src="../../image/tile_ultra_2__cu2x3w2l0zwy_medium_2x.jpg"style="width:320px;height:150px" class="img-fluid "></div>
        <br>
        <label for="banner" class="form-label ">BANNER 12</label>
        <input type="file" class="form-control" id="banner" name="banner" accept="image/*">
            <br>
        <button id="b2">Change the banner</button>
        <br>
        </div>

    </form>
<%- include("../partials/adminfooter.ejs") %>
