<%- include("../partials/adminheader.ejs") %>

<div class="container m-4 ">

    <a href="/admin/bannerConfig"><button>CONFIGURE A BANNER</button></a>
<br>
<br>
<table id="example"  style="width: 100%">
<thead>
    <tr>
        <th>BANNER</th>
        <th>IMAGE</th>
        <th>MAIN TEXT</th>
        <th>SUB TEXT</th>
        <th>CHANGE</th>
    
    </tr>
</thead>
<tbody>
    <tr>
        <td>SECTION S</td>
        <td>SECTION S</td>
        <td>MAIN</td>
        <td>SUB</td>
        <td>CHANGE</td>
    </tr>

    <tr>
        <td>SECTION S</td>
        <td>SECTION S</td>
        <td>MAIN</td>
        <td>SUB</td>
        <td>CHANGE</td>
    </tr>

    <tr>
        <td>SECTION S</td>
        <td>SECTION S</td>
        <td>MAIN</td>
        <td>SUB</td>
        <td>CHANGE</td>
    </tr>


    <tr>
        <td>SECTION S</td>
        <td>SECTION S</td>
        <td>MAIN</td>
        <td>SUB</td>
        <td>CHANGE</td>
    </tr>


    <tr>
        <td>SECTION S</td>
        <td>SECTION S</td>
        <td>MAIN</td>
        <td>SUB</td>
        <td>CHANGE</td>
    </tr>



    <tr>
        <td>SECTION S</td>
        <td>SECTION S</td>
        <td>MAIN</td>
        <td>SUB</td>
        <td>CHANGE</td>
    </tr>



    <tr>
        <td>SECTION S</td>
        <td>SECTION S</td>
        <td>MAIN</td>
        <td>SUB</td>
        <td>CHANGE</td>
    </tr>


    <tr>
        <td>SECTION S</td>
        <td>SECTION S</td>
        <td>MAIN</td>
        <td>SUB</td>
        <td>CHANGE</td>
    </tr>

    <tr>
        <td>SECTION S</td>
        <td>SECTION S</td>
        <td>MAIN</td>
        <td>SUB</td>
        <td>CHANGE</td>
    </tr>



</tbody>

</table>



</div>
    

    
<script>

</script>