<%- include("../partials/adminheader.ejs") %>

<div class="row">
<br>

<!-- row one of image    on display this will bein horizontal-->
<div class=" banner   mx-2 my-3 container   col-md-3   ">
<div><img src="../../image/galaxy-watch6-kv-pc.jpg" style="width:320px;height:150px;" class="img-fluid"></div>
<br>
<button id="b1">Change the banner</button>
<br>

<br>
<div><img src="../../image/tile_ultra_2__cu2x3w2l0zwy_medium_2x.jpg"style="width:320px;height:150px" class="img-fluid "></div>
<br>
<button id="b2">Change the banner</button>
<br>
<br>
<div><img src="../../image/galaxy-watch6-kv-pc.jpg" style="width:320px;height:150px" class="img-fluid "></div>
<br>
<button id="b1">Change the banner</button>
<br>

<br>
<div><img src="../../image/tile_ultra_2__cu2x3w2l0zwy_medium_2x.jpg"style="width:320px;height:150px" class="img-fluid "></div>
<br>
<button id="b2">Change the banner</button>
<br>
</div>
<!-- row one of image ends -->

<div class=" banner     mx-2 my-3 container  col-md-3  ">
    <div><img src="../../image/galaxy-watch6-kv-pc.jpg" style="width:320px;height:150px" class="img-fluid "></div>
    <br>
    <button id="b1">Change the banner</button>
    <br>
    <br>
    <div><img src="../../image/tile_ultra_2__cu2x3w2l0zwy_medium_2x.jpg"style="width:320px;height:150px" class="img-fluid "></div>
    <br>
    <button id="b2">Change the banner</button>
    <br>
    <br>
    <div><img src="../../image/galaxy-watch6-kv-pc.jpg" style="width:320px;height:150px" class="img-fluid "></div>
    <br>
    <button id="b1">Change the banner</button>
    <br>
    <br>
    <div><img src="../../image/tile_ultra_2__cu2x3w2l0zwy_medium_2x.jpg"style="width:320px;height:150px" class="img-fluid "></div>
    <br>
    <button id="b2">Change the banner</button>
    <br>
    </div>

    <div class=" banner    mx-2 my-3 container  col-md-3 ">
        <div><img src="../../image/galaxy-watch6-kv-pc.jpg" style="width:320px;height:150px" class="img-fluid "></div>
        <br>
        <button id="b1">Change the banner</button>
        <br>
        <br>
        <div><img src="../../image/tile_ultra_2__cu2x3w2l0zwy_medium_2x.jpg"style="width:320px;height:150px" class="img-fluid "></div>
        <br>
        <button id="b2">Change the banner</button>
        <br>
        <br>
        <div><img src="../../image/galaxy-watch6-kv-pc.jpg" style="width:320px;height:150px" class="img-fluid "></div>
        <br>
        <button id="b1">Change the banner</button>
        <br>
        <br>
        <div><img src="../../image/tile_ultra_2__cu2x3w2l0zwy_medium_2x.jpg"style="width:320px;height:150px" class="img-fluid "></div>
        <br>
        <button id="b2">Change the banner</button>
        <br>
        </div>

     
<%- include("../partials/adminfooter.ejs") %>
