<%- include("../partials/adminheader.ejs") %>

<div class="container  m-3 ">
  <div class="row">
      <div class="d flex-column  mb-4 mt-2">
          <a href="/admin/reportbydate">
              <button>By DATE</button>
            </a>
            
    
      </div>

<br>

<form>

    <div class=" justify-content-between d-flex mb-3 mt-3 ">
        <div>
            <lable for="startDate">START DATE</lable>
            <input type="date" id="startDate" name="startDate">
        </div>

        <div>
            <lable for="endDate">END DATE</lable>
            <input type="date"  id="startDate" name="startDate">
        </div>

        <div>
            <button class="btn btn-success btn-sm">SUBMIT</button>
        </div>
    </div>


</form>



<table>
<thead>

    <tr>
        <th>rr</th>
    </tr>
</thead>
<tbody>
    <tr>
        <td>rr</td>
    </tr>
</tbody>

</table>
    



<%- include("../partials/adminfooter.ejs") %>

  


