<%-include("../partials/userloggedHeder.ejs")%>





<div class="container-fluid   d-flex ">
 <div id="leftside" class="" style="width: 80%; min-height:50vh ">
        <table id="example" class="table table-striped table-responsive" style="width: 100%">
            <thead>
            <tr>
                <th>SL NO</th>
                <th>IMAGE</th>
                <th>NAME</th>
                <th>QUANTITY</th>
                <th>PRICE</th>
                <th>STATUS</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>test</td>
                <td>test</td>
                <td>test</td>
                <td>test</td>
                <td>test</td>
                <td>test</td>

            </tr>
            </tbody>
        </table>
</div>

                <div id="rightside" class=" p-5  "style="width: 20%;" >

               

                    <h1>hello</h1>
                </div> 

              </div>
               

<%-include("../partials/footer.ejs")%>


<script>
  new DataTable("#example");
</script>



<style>

#example {
  width: 100%;
  
}
</style>
