<%-include("../partials/otpHeader.ejs")%>


<div class=" row justify-content-center align-content-center ">
    <div class="col-md-6  bg-warning  p-5  ">
     <h2 >Verify your Email </h2>


    <h4  > Verify Email to continue ... </h4>


    <div >
        <form method="post" action="/verifyOtp">
            <div  >
                <input type="text" maxlength="1" name="otp1" id="verificationCode"  oninput="validateNumericInput(this)" required>
                <input type="text" maxlength="1" name="otp2" id="verificationCode"  oninput="validateNumericInput(this)" required>
                <input type="text" maxlength="1" name="otp3" id="verificationCode"  oninput="validateNumericInput(this)" required>
                <input type="text" maxlength="1" name="otp4" id="verificationCode"  oninput="validateNumericInput(this)" required>
                <input type="text" maxlength="1" name="otp5" id="verificationCode"  oninput="validateNumericInput(this)" required>
            </div>
            <div>
                <button id="otpButton" type="submit">Verify</button>
            </div>
        </form>

        <button id="otpBut" class="mt-3 "><a href="/resentOtp">Resend OTP </a></button>
    </div>
    
    <script>
        function validateNumericInput(input) {
            input.value = input.value.replace(/[^0-9]/g, ''); // Remove non-numeric characters
        }
    </script>
    
    




</div>





<%-include("../partials/footer.ejs")%>