<%-include("../partials/userloggedHeder.ejs")%>





<div class="container-fluid  d-flex ">
    <div class=" row">
        <nav class="sidebar">
            <ul>
                <li><a href="/Myprofile"><i class="fa-solid fa-address-card mx-3 " style="color: #fefefe;"> </i><span class="d-none d-sm-inline">My profile</span></a></li>
                <li><a href="/profileEdits"> <i class="fa-solid fa-user-pen mx-3" style="color: #fefefe;"> </i><span class="d-none d-sm-inline"> Edit profile</span></a></li>
                <li><a href="/changepassword"><i class="fa-solid fa-key mx-3" style="color: #fefefe;"> </i><span class="d-none d-sm-inline">set password</span></a></li>
                <li><a href="/wallet"><i class="fa-solid fa-wallet mx-3" style="color: #fefefe;"> </i><span class="d-none d-sm-inline">Wallet</span></a></li>
                <li><a href="/orderHistory"><i class="fa-solid fa-clock-rotate-left mx-3" style="color: #fefefe;"> </i><span class="d-none d-sm-inline">Order history</span></a></li>
                <li><a href="/savedaddress"><i class="fa-solid fa-address-book mx-3" style="color: #fefefe;"> </i><span class="d-none d-sm-inline">Saved address</span></a></li>
        
            </ul>
        </nav>
    </div>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 d-flex flex-column  mx-3 ">

  
    <form  method="post" action="/profileEdit"  enctype="multipart/form-data" > <!-- form -->

        <!-- first line  -->
    <div class="d-flex  justify-content-between my-4 " id="firstline">
        <div class="mb-3 mx-4 ">
            <label for="username1" class="form-label">FIRST NAME:</label>
            <input type="text" id="username1"   name="username1" class="form-control" placeholder ="Enter first name">
        </div>
        <div class="mb-3 mx-4">
            <label for="username2"  class="form-label " >LAST NAME:</label>
            <input type="text" id="username2"  name="username2"  class="form-control" placeholder ="Enter last name">
    </div>

   
    <div class="justify-content-end  mx-4 ">
        <img id="selectedImage" src="#" >
        
    </div>
    
    
</div>
<div class="m-4">
    <p>Add profile image</p>
    <input type="file" id="profilepic" name="profilepic" onchange="displaySelectedImage()">
</div>
<!-- ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;; -->

<!-- second line -->
<h3 class="mx-4 mb-5 ">Address details</h3>


    <div class="d-flex my-4 " id="secondline">
        <div class="mb-3 mx-4 ">
        <label for="phonenumber" class="form-label ">Contact Number:</label>
        <input type="tel" id="phonenumber"  name="phonenumber" class="form-control" placeholder ="Phone number">
    </div>
    <div class="mb-3 mx-4 ">
        <label for="house" class="form-label ">House NO:</label>
        <input type="text" id="house"   name="house" class="form-control">
    </div>

    <div class="mb-3 mx-4 ">
        <label for="street"  class="form-label ">Street:</label>
        <input type="text" id="street" name="street" class="form-control">
        </div>

    </div>
    
<!-- ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;; -->
    
            <div class="d-flex my-4 " id="thirdline">
                <div class="mb-3 mx-4 ">
                    <label for="location"  class="form-label ">Location:</label>
                    <input type="text" id="location" name="location" class="form-control">
            </div>
            <div class="mb-3 mx-4 ">
                <label for="landmark" class="form-label ">Landmark:</label>
                <input type="text" id="landmark" name="landmark" class="form-control">
            </div>

            <div class="mb-3 mx-4 ">
                <label for="city" class="form-label ">City</label>
                <input type="text" id="city" name="city" class="form-control">
                </div>
            </div>

        <div class="d-flex my-4 " id="fourthline">
            <div class="mb-3 mx-4 ">
            
            <label for="state" class="form-label ">State:</label>
            <select id="state"  name="state" class="form-control">
                <option value="andaman_and_nicobar_islands">Andaman and Nicobar Islands</option>
                <option value="chandigarh">Chandigarh</option>
                <option value="dadra_and_nagar_haveli_and_daman_and_diu">Dadra and Nagar Haveli and Daman & Diu</option>
                <option value="delhi">Delhi</option>
                <option value="jammu_and_kashmir">Jammu & Kashmir</option>
                <option value="ladakh">Ladakh</option>
                <option value="lakshadweep">Lakshadweep</option>
                <option value="puducherry">Puducherry</option>
                <option value="andhra_pradesh">Andhra Pradesh</option>
                <option value="arunachal_pradesh">Arunachal Pradesh</option>
                <option value="assam">Assam</option>
                <option value="bihar">Bihar</option>
                <option value="chhattisgarh">Chhattisgarh</option>
                <option value="goa">Goa</option>
                <option value="gujarat">Gujarat</option>
                <option value="haryana">Haryana</option>
                <option value="himachal_pradesh">Himachal Pradesh</option>
                <option value="jammu_kashmir">Jammu and Kashmir</option>
                <option value="jharkhand">Jharkhand</option>
                <option value="karnataka">Karnataka</option>
                <option value="kerala">Kerala</option>
                <option value="madhya_pradesh">Madhya Pradesh</option>
                <option value="maharashtra">Maharashtra</option>
                <option value="manipur">Manipur</option>
                <option value="meghalaya">Meghalaya</option>
                <option value="mizoram">Mizoram</option>
                <option value="nagaland">Nagaland</option>
                <option value="odisha">Odisha</option>
                <option value="punjab">Punjab</option>
                <option value="rajasthan">Rajasthan</option>
                <option value="sikkim">Sikkim</option>
                <option value="tamil_nadu">Tamil Nadu</option>
                <option value="telangana">Telangana</option>
                <option value="tripura">Tripura</option>
                <option value="uttar_pradesh">Uttar Pradesh</option>
                <option value="uttarakhand">Uttarakhand</option>
                <option value="west_bengal">West Bengal</option>
            </select>
        </div>
            <div class="mb-3  px-4 ">
                <label for="Country "class="form-label ">Country:</label>
                <input type="Country"  id="Country" name="Country" class="form-control" value="India">
            </div>

            <div class="mb-3 mx-4 ">
                <label for="pincode "class="form-label ">Pincode:</label>
                <input type="tel" id="pincode"  name="pincode" class="form-control">
            </div>
</div>

    <button class="btn btn-success m-3 px-5 ">save</button>
    </form>
</main>




</div>



</div>




                   






<%-include("../partials/footer.ejs")%>

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
        body {
            font-family: 'Arial', sans-serif;
            background-color: rgb(242, 239, 239);
        }

        .sidebar {
            height: auto;
            width: 200px;
            background-color: #333;
            padding-top: 20px;
            color: white;
            box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
        }

        .sidebar ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        .sidebar li {
            padding: 15px;
            font-size: 14px;
            cursor: pointer;
            border-bottom: 1px solid #555;
            transition: background-color 0.3s;
        }

        .sidebar li:hover {
            background-color: #555;
        }
        .sidebar ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
    
        .sidebar ul li a {
            text-decoration: none; 
            color: #fff;
            display: block;
        }
@media (max-width: 768px) {
    #firstline, #secondline, #thirdline, #fourthline {
        width: 100%; 
        flex-direction: column;
    }
}



@media (max-width: 768px) {
    .sidebar{
        width:100%;
        padding: 0%;
    }
}




img {
    width: 100px;
    margin-top: 10px;
}

    </style>

    <script>
        function displaySelectedImage() {
            // Get the input element
            var inputElement = document.getElementById('profilepic');

            // Get the selected file from the input
            var file = inputElement.files[0];

            // Check if a file is selected
            if (file) {
                // Create a FileReader
                var reader = new FileReader();

                // Set the callback function to run when the file is loaded
                reader.onload = function(e) {
                    // Get the image element
                    var imageElement = document.getElementById('selectedImage');

                    // Set the source of the image to the loaded data URL
                    imageElement.src = e.target.result;
                };

                // Read the file as a data URL
                reader.readAsDataURL(file);
            } else {
                // If no file is selected, reset the image source
                document.getElementById('selectedImage').src = "#";
            }
        }
    </script>