<%-include("../partials/header.ejs")%>



<div class="row justify-content-center align-items-center p-2">
  <div class="text-center">
    <img src="/image/TIME S.jpg" />
  </div>
</div>

<div >
  <div class="row justify-content-center align-items-center ">
    <div class="col-md-6">
      
      <form onsubmit="return validateSignup()" action="/signup" method="post">
        <div class="m-3">
          <label for="username" class="form-label">Username:</label>
          <input
            type="text"
            class="form-control"
            id="username"
            name="username"
            placeholder="Enter your username"
          />
        </div>
        <div id="usernameMessage" class="text-danger m-3"></div>

        <div class="m-3">
          <label for="email" class="form-label">Email:</label>
          <input
            type="text"
            class="form-control"
            id="email"
            name="email"
            placeholder="Enter your email id"
          />
        </div>
        <div id="emailMessage" class="text-danger m-3"></div>

        <div class="m-3">
          <label for="phone" class="form-label">Phone number:</label>
          <input
            type="tel"
            class="form-control"
            id="phone"
            name="phone"
            placeholder="Enter your phone number"
          />
        </div>
        <div id="phoneMessage" class="text-danger m-3"></div>

        <div class="m-3">
          <label for="password" class="form-label">Password:</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="Enter your password"
          />
        </div>
        <div id="passwordMessage" class="text-danger m-3"></div>
        <button  type="submit" value="signup"  class="btn btn-warning mb-5 m-3  ">SIGNUP</button>

      </form>
    </div>
  </div>
</div>


<%-include("../partials/footer.ejs")%>
